<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://toolboothfunctionbck2019.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/eb48dc51-3e86-4a17-9160-30427cc90aaf/resourceGroups/BCK_2019_ServerlessArchitecture/providers/Microsoft.Web/sites/toolboothfunctionbck2019</ResourceId>
    <UserName>$toolboothfunctionbck2019</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://toolboothfunctionbck2019.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>